* {
  margin: 0;
  padding: 0;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  background: url("img/bg.jpeg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.search {
  padding-top: 10%;
  font-size: 30px;
  color: rgb(181, 176, 135);
  height: 20vh;
  align-self: center;
}
.search input {
  background: none;
  border: none;
  font-size: 25px;
  color: rgb(181, 176, 135);
}
.search button {
  font-size: 25px;
  background: none;
  border: none;
  color: rgb(141, 225, 182);
}
.search button:hover {
  cursor: pointer;
}
.content {
  align-self: center;
  background: rgb(57, 56, 56, 0.5);
  width: 60vw;
  height: 50vh;
}
.weather {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-self: center;
  color: antiquewhite;
  text-align: center;
}
.weather__name {
  padding-top: 15px;
  grid-column: 1 / span 3;
  grid-row: 1;
}
.weather__country {
  padding-top: 15px;
  grid-column: 4 / span 3;
  grid-row: 1;
}
.weather__temp {
  grid-column: 1 / span 2;
  margin-top: 10vh;
  grid-row: 2;
}
.weather__temp-feelling {
  grid-column: 1 / span 2;
  margin-top: 10vh;
  grid-row: 3;
}
.weather__date {
  grid-column: 4 / span 3;
  grid-row: 4;
}
.weather__time {
  grid-column: 4 / span 3;
  grid-row: 5;
}
.weather__img {
  grid-column: 3 / span 2;
  grid-row: 3;
  display: block;
  width: 100px;
  height: 100px;
}
.error {
  color: red;
  text-align: center;
  margin-top: 20vh;
  font-size: 40px;
}
